@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');

/* The url above is linking to a google font called Alegreya Sans.
	There are hundreds of excellent free fonts
	to choose from
*/


/* reset style */
* {
	margin:0;
	padding:0;
	border:0;
	font-family: 'Alegreya Sans', sans-serif;
	
}
/* end reset style */

body {
	color: #6991AC;
}


h2 {
	

}

p {
	
}


img {
	
}


#header-inner {
	
}


#logo {
	
}


#inner-wrapper2 {
	
}


#heart {
	

}

#heart i {
	
}

#overview {
	
}

#community {
	
}

#community i {
	
}

#times {
	
}

#times ul p {
 

}



/* media queries - 
	These will update your key styles to allow your site to 
	maintain it's good looks on a phone or tablet
	These styles will only kick in when the screen size goes below 768px in width
*/

@media screen  and (max-width: 768px) {

	h2 {
		font-size: 150%;
	}

	h3 {
		font-size: 125%;
	}

	p {
		font-size: 100%;
	}


	#overview, #heart {
		width: 100%;
	}
	
	#overview {
	  padding-left : 0px;
	}

	p {
		font-family: 'Alegreya Sans', sans-serif;
		color: #6991AC;
		line-height: 100%;
		text-align: justify;
		padding: 15px;
	}

	#times {
		float: left;
		width: 50%;
		min-height: 200px;
	}

	#times ul p {
		font-size: 70%;
	}

	#community {
		font-size: 400%;
		text-align: center;
		min-height: 200px;
		float: right;
		margin: 0 auto;
		width: 50%;
	}

	#community i {
		padding-top: 20px;
	}

}










